* {
    box-sizing: border-box
}

.size {
    margin: 20px;
    padding: 0px;
    width: 100vw;
    height: 97vh;
}

.main {
    position: relative;
    width: 100vw;
    height: 97vh;
    white-space: nowrap;
    margin: 0px;
}

.block {
    position: absolute;
    display: inline-block;
    background-color: orange;
    height: 96%;
    width: 300px;
    margin: 15px 7.5px 10px 10px;
}

.smol {
    margin: 10px;
    background-color: gold;
    width: 260px;
    height: 350px;
}

.smol1 {
    position: absolute;
    top: 745px;
    margin: 10px;
    background-color: gold;
    width: 260px;
    height: 350px;
}
.lit {
    background-color: gold;
    margin: 10px;
    width: 260px;
    height: 140px;
}
.lit1 {
    background-color: gold;
    margin: 10px;
    width: 260px;
    height: 31px;
}

section1 {

}

.text1 {
    width: 300px;
    text-align: left;
    white-space: normal;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.text2 {

    width: 260px;
    text-align: left;
    white-space: normal;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.text3 {

    width: 260px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.
h1:first-line {
    color: crimson;
    text-transform: uppercase;
}

.pos2 {
    position: absolute;
    left: 325px;
}

.pos3 {
    position: relative;
    left: 650px;
}

.pos4 {
    position: absolute;
    left: 975px;
}

.pos5 {
    position: absolute;
    left: 1300px;
}

.pos6 {
    position: absolute;
    left: 1625px;
}

.pos7 {
    position: absolute;
    left: 1950px;
}

.pos8 {
    position: absolute;
    left: 2275px;
}

.pos9 {
    position: absolute;
    left: 2600px;
}

.pos10 {
    position: absolute;
    left: 2925px;
}

.over {
    overflow-y: scroll;
}

.hide {
    overflow-y: scroll;
    text-overflow: clip;
}

.vv {
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.v {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}